$body-font-family: 'JetBrains Mono', sans-serif;
$heading-font-family: 'Bebas Neue', sans-serif;

@use 'vuetify/settings' with (
  $color-pack: false,
  $body-font-family: $body-font-family,
  $heading-font-family: $heading-font-family,

  $typography: (
    'h2': (
      'size': 72px
    )
  )
);

// overrides
.v-card {
  border-radius: 0 !important;
}
// custom classes
.flat-shadow {
  box-shadow: rgb(74 72 61 / 27%) 10px 10px 0px;
}
.bg-hero {
  height: 100vh;
  background-image: url('@/assets/hero_image_desktop.avif');
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  animation: animatedBgHero 15s ease-in-out infinite alternate;

  @media screen and (max-width: 600px) {
    background-image: url('@/assets/hero_image_mobile.avif');
    opacity: 1;
    animation: none;
  }
}
.bg-debris {
  background-image: url('@/assets/debris-bg.large.avif');
  background-size: cover;
  animation: animatedBgDebris 30s ease-in-out infinite alternate;

  @media screen and (max-width: 600px) {
    animation-duration: 60s;
  }
}
.bg-pattern {
  position: relative;
  z-index: 0;
}
.bg-pattern::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('@/assets/pattern.avif');
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.01;
  z-index: -1;
  pointer-events: none;
}

.pulse {
  animation: pulse 0.5s ease;
}

// animations
@keyframes animatedBgHero {
  from {
    background-size: 100%;
  }
  to {
    background-size: 105%;
  }
}
@keyframes animatedBgDebris {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

// fonts import
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=JetBrains+Mono:wght@100..800&Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
